.center {
    position: relative;
    top: 25%;
    left: 15%;
}

.button {
    border:1px solid lightgray;
    background-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    margin-right: 15px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
}